<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <a href="/" class="navbar-brand">MS-Celeb-1M</a>
        <button class = "navbar-toggle" data-toggle = "collapse" data-target=".navHeaderCollapse">
            <span class = "icon-bar"></span>    
            <span class = "icon-bar"></span>    
            <span class = "icon-bar"></span>    
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/celeb1m/1m">Challenge-1</a></li>
                <li><a href="/challenge2/2017">Challenge-2</a></li>
                <li><a href="/download/sampleset">Download</a></li>
                <li><a href="/leaderboard/2016">LeaderBoard</a></li>
                <li><a href="/people">People</a></li>
                
            </ul>
        </div>
    </div>  
</div>
